<div class="scrollable">
  <h1 class="scrollable-header app-name">台山一中校友录</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#/">首页<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/yearcontact">各届联系人<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/listkeywords">校友行业领域<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/myprofile">个人信息<i class="fa fa-chevron-right pull-right"></i></a>
      <a ng-if = "user" class="list-group-item" href="#/logout">退出<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>
