<div class="scrollable section">
  <div class="scrollable-content ">
  		<h3>台山一中（广州）校友会 各届联系人</h3>
  		<p>PIC：</br>李晓东（92届）-18818809900； </br> 邝泳平（05届） 18620222934</p>
  		

  		<table class = "earch-year-contact-table">
  			<thead>
  				<td>届别</td>
  				<td>姓名</td>
  				<td>联系方式</td>
  			</thead>
  			<tbody>
  				<tr><td>2015</td><td>余喜婷</td><td>13680518859</td></tr>
				<tr><td>2014</td><td>(无)</td><td></td></tr>
				<tr><td>2013</td><td>伍启宏／张慧笔</td><td>18825076097／18814122473</td></tr>
				<tr><td>2012</td><td>黎健鹏</td><td>13760724717</td></tr>
				<tr><td>2011</td><td>方明华</td><td>18825157327</td></tr>
				<tr><td>2010</td><td>陈颖仪</td><td>15812403863</td></tr>
				<tr><td>2009</td><td>梅艳华</td><td>15992476740</td></tr>
				<tr><td>2008</td><td>麦国权</td><td>18922706142</td></tr>
				<tr><td>2007</td><td>余翠桃</td><td>15002019803</td></tr>
				<tr><td>2006</td><td>孙静</td><td>13602475549</td></tr>
				<tr><td>2005</td><td>邝泳平</td><td>18620222934</td></tr>
				<tr><td>2004</td><td>(无)</td><td></td></tr>
				<tr><td>2003</td><td>李啟东</td><td>15913199456</td></tr>
				<tr><td>2002</td><td>陈 燕</td><td>13560122370</td></tr>
				<tr><td>2001</td><td>余伟韶</td><td>136 4265 1519‬</td></tr>
				<tr><td>2000</td><td>戚振红</td><td>13630107824</td></tr>
				<tr><td>1999</td><td>麦壮炼</td><td>13602452429</td></tr>
				<tr><td>1998</td><td>雷荣校</td><td>13580487290</td></tr>
				<tr><td>1997</td><td>黄达峰/黄世醒</td><td>13924000468/15360534345</td></tr>
				<tr><td>1996</td><td>马爱红/马景鹏</td><td>13660479515/13922456792</td></tr>
				<tr><td>1995</td><td>陈方敏/黄毅清</td><td>13760750393/13600009171</td></tr>
				<tr><td>1994</td><td>林剑文</td><td>18818871128</td></tr>
				<tr><td>1993</td><td>刘健波</td><td>18666021366</td></tr>
				<tr><td>1992</td><td>马学平</td><td>13802542123</td></tr>
				<tr><td>1991</td><td>麦旭明</td><td>18011985108</td></tr>
				<tr><td>1990</td><td>甄明星</td><td>18620262322</td></tr>
				<tr><td>1989</td><td>黄建中/唐军</td><td>13602830399/13602813623</td></tr>
				<tr><td>1988</td><td>黄颖峰</td><td>13808816305</td></tr>
				<tr><td>1987</td><td>陈丽清</td><td>13925039818</td></tr>
				<tr><td>1986</td><td>张淑华</td><td>13903002095</td></tr>
				<tr><td>1985</td><td>陈石池</td><td>13922100266</td></tr>
				<tr><td>1984</td><td>邱俊强</td><td>13809772204</td></tr>
				<tr><td>1983</td><td>黄爱宝</td><td>13922166819</td></tr>
				<tr><td>1982</td><td>黄爱宝</td><td>13922166819</td></tr>
				<tr><td>1981</td><td>雷达良/麦劲壮</td><td>13822279087/13503089133</td></tr>
				<tr><td>1980</td><td>赵宗羽/林仁杰</td><td>13501502397 （80届前的组长）/133302256345</td></tr>
				<tr><td>77秋高</td><td>欧竞志</td><td>华师附中，18988977722,13798130013</td></tr>
				<tr><td>76秋高</td><td>石斌</td><td>华南农业大学，13642645333</td></tr>
				<tr><td>75秋高</td><td>罗韬</td><td>羊城晚报社，18520686251</td></tr>
				<tr><td>74秋高</td><td>李德星</td><td>（唯一，无联系方式）</td></tr>
				<tr><td>73秋高</td><td>石燕/彭敏生</td><td>唯有的两个人，均无法联系）</td></tr>
				<tr><td>72秋高</td><td>赵良知</td><td>（唯一，无联系方式）</td></tr>
				<tr><td>71秋高</td><td>黄建华</td><td> (唯一，无联系方式）</td></tr>
				<tr><td>70秋高</td><td>李国安</td><td>星海音乐学院，13760887091</td></tr>
				<tr><td>69秋高</td><td>（无）</td><td></td></tr>
				<tr><td>68秋高</td><td>赵锦池</td><td>（唯一，无联系方式）</td></tr>
				<tr><td>67秋高</td><td>（无）</td><td></td></tr>
				<tr><td>66秋高</td><td>（无）</td><td></td></tr>
				<tr><td>65秋高</td><td>刘沃明</td><td>13500003268</td></tr>
				<tr><td>64秋高</td><td>李江帆</td><td>18666080318</td></tr>
				<tr><td>63秋高</td><td>（无）</td><td></td></tr>
				<tr><td>62秋高</td><td>傅坚</td><td>85212301</td></tr>
				<tr><td>61秋高</td><td>谭福大</td><td>13711780815</td></tr>
				<tr><td>60秋高</td><td>董灼宽</td><td>13802925066</td></tr>
				<tr><td>59秋高</td><td>马国竞</td><td>38257910</td></tr>
				<tr><td>58秋高</td><td>谭小慈</td><td>13922223023</td></tr>
				<tr><td>57秋高</td><td>陈国舜</td><td>13640711925</td></tr>
				<tr><td>56秋高</td><td>曹建兴</td><td>13025163663</td></tr>
				<tr><td>55秋高</td><td>李本槐</td><td>13610028628</td></tr>
				<tr><td>55秋</td><td>李  升</td><td>13539813580</td></tr>
				<tr><td>54秋高</td><td>朱卓汉</td><td>18102841961</td></tr>
				<tr><td>53秋高</td><td>刘永超</td><td>13611497120</td></tr>
				<tr><td>52秋高</td><td>谭汝康</td><td>13660399583</td></tr>
				<tr><td>52春</td><td>黄卓才</td><td>85227733、13533372370</td></tr>
				<tr><td>51秋高</td><td>刘笑霞</td><td>87259026</td></tr>
  				<tr><td>50春高</td><td>李光华/李振权</td><td>85512301/87778223—2437</td></tr>
  				
  				<p>1949年之前各届代表 </br>①黄淑娉84036702	 </br>②李修宏	84036864、13826013692</p>
  			</tbody>
  		</table>
  </div>
</div>
